<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hammadhanif.cs_477_final_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SigninActivity" />
        <activity android:name=".ProviderActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegisterProvider" />
        <activity android:name=".NextActivity" />
        <activity android:name=".BankInfoActivity" />
        <activity android:name=".QualificationInfoActivity"></activity>
    </application>

</manifest>